<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.wunwun.plugins.sms-composer"
      version="1.0.0">

  <name>SmsComposer</name>
  <author>Calvin Lai</author>
  <description>Enables native SMS/iMessage composer for iOS based Cordova apps.</description>

  <js-module src="www/social-composer.js" name="SmsComposer">
    <clobbers target="plugins.smsComposer" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="SmsComposer">
        <param name="ios-package" value="SmsComposer" />
      </feature>
    </config-file>
    <header-file src="src/ios/SmsComposer.h" />
    <source-file src="src/ios/SmsComposer.m" />
  </platform>

</plugin>
